/* --news-- */
.news {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    padding: 0 20px;
}
.news_text {
    padding-right: 5%;
}
h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.72px;
    color: #031179;
}
h3 {
    font-size: 13px;
    letter-spacing: 0.65px;
    color: #031179;
}
.news01 {
    display: flex;
    padding-bottom: 20px;
}
.news02 {
    display: flex;
    padding-bottom: 20px;
}
.news03 {
    display: flex;
    padding-bottom: 20px;
}
.news_List dt,
.news_list dt {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.news_List p,
.news_list p {
    display: inline-block;
    text-align: center;
    width: 82px;
    height: 22px;
    padding: 3px 0;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    letter-spacing: 0.6px;
    background-color: #e8e8e8;
    border-radius: 50px;
    margin: 0 20px;
}
.news_List dd,
.news_list dd {
    font-size: 15px;
}

/* --service-- */
.service {
    padding-top: 144px;
    padding-bottom: 140px;
    margin: 0 20px;
}
.service_text {
    text-align: center;
}
.service_text h3 {
    padding-bottom: 29px;
}
.service_wrap {
    display: flex;
    margin: 0 auto;
    max-width: 1110px;
}
.service_wrap img {
    width: 100%;
}
.service01 {
    padding-right: 30px;
}
.service02 {
    padding-right: 30px;
}
h4 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.9px;
}
.service_wrap h4 {
    text-align: center;
    padding: 22px 0 17px 0;
}
.service_wrap p {
    padding-bottom: 25px;
}

/* --works-- */
.works {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    position: relative;
    max-width: 1260px;
    width: 87%;
    margin: 0 auto;
    padding: 70px 0;
}
.works::before {
    position: absolute;
    content: "";
    width: 66%;
    height: 100%;
    background-color: #f0f0f0;
    z-index: -1;
    right: 0;
    top: 0;
}

.works_slider {
    width: 59%;
    z-index: 1;
    margin-left: 20px;
}
.works_slider img {
    width: 100%;
}
/* works右矢印調整 */
.slick-next {
    right: 10px;
}

.slick-next:before {
    content: "";
    display: block;
    width: 15px;
    height: 4px;
    background-color: #031179;
    transform: rotate(45deg);
    position: relative;
    border-radius: 2px;
}
.slick-next:after {
    content: "";
    display: block;
    width: 15px;
    height: 4px;
    background-color: #031179;
    transform: rotate(-45deg);
    position: relative;
    top: 5px;
    border-radius: 2px;
}

/* works左矢印調整 */
.slick-prev {
    z-index: 1;
    left: 13px;
}

.slick-prev:before {
    content: "";
    display: block;
    width: 15px;
    height: 4px;
    background-color: #031179;
    transform: rotate(-45deg);
    position: relative;
    border-radius: 2px;
}
.slick-prev:after {
    content: "";
    display: block;
    width: 15px;
    height: 4px;
    background-color: #031179;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
    border-radius: 2px;
}

.works_text {
    padding: 0 5% 0 5%;
    box-sizing: border-box;
    text-align: center;
}
.works_text h3 {
    padding-bottom: 28px;
}
.works_text p {
    font-size: 15px;
    padding-bottom: 25px;
}
/* --worksスライダー-- */
/* ドットの位置 */
.slick-dots {
    text-align: right;
}
/* ドットの間隔 */
.slick-dots li {
    width: 10px;
}
/* ドットの大きさ */
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    font-size: 8px;
}

/* --company-- */
.company {
    position: relative;
    margin-top: 40px;
}
.Company {
    position: relative;
}
.company_bg {
    background-image: url(../img/bg-circle.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 615px;
    max-width: 920px;
    margin: 0 auto;
}
.company02_bg {
    background-image: url(../img/bg-circle.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 615px;
    max-width: 920px;
    margin: 0 auto;
}
.company_bg_pc {
    background-image: url(../img/bg-face.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 416px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 144px;
    left: 0;
    right: 0;
}
.company_text {
    position: absolute;
    top: 93px;
    left: 0;
    right: 0;
    text-align: center;
}
.company_tag-line01 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    background: linear-gradient(transparent 80%, yellow 80%);
    padding-left: 15px;
}
.company_tag-line02 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    background: linear-gradient(transparent 80%, yellow 80%);
    padding-right: 15px;
}
.company_text h3 {
    padding-bottom: 32px;
}
.company_explanation {
    font-size: 15px;
    line-height: 2;
    padding-top: 35.5px;
}
.company a {
    position: absolute;
    bottom: 79px;
    left: 0;
    right: 0;
}

/* --recruit-- */
.recruit {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 110px;
}
.recruit_inner {
    width: 40%;
    height: 332px;
    background-color: #f7f7f7;
    padding: 70px 20px;
}
.recruit_inner p {
    font-size: 15px;
    padding: 28px 0 30px 0;
}
.recruit_img img {
    height: 332px;
    object-fit: cover;
    width: 100%;
}

/* --news.html-- */
.news_list {
    padding: 64px 20px 42px 20px;
    margin: 0 auto;
    max-width: 915px;
    box-sizing: content-box;
}
.news_list dl {
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
}
/* .news_list dt {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-family: Montserrat, sans-serif;
    white-space: nowrap;
} */
/* .news_day_pc,
.news_pc {
    padding-right: 20px;
} */
/* .news_list_heading {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    letter-spacing: 0.6px;
    border-radius: 50px;
    background-color: #e8e8e8;
    display: inline-block;
    width: 82px;
    height: 22px;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
} */
.news_list dt {
    display: flex;
}
.news_list dd {
    width: 77%;
}
/* .news_list {
    padding-top: 0;
    padding-bottom: 0;
} */
.news_list dl {
    padding-bottom: 20px;
}
.pagination {
    margin-top: 39px;
    text-align: center;
    padding-bottom: 110px;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

/* --article01.html-- */
.news-article {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.News-article {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.news-article_heading {
    font-size: 32px;
    letter-spacing: 1.6px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    padding: 70px 0 13px 0;
}
.News-article01 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    font-family: Montserrat, sans-serif;
    padding-right: 10px;
}
.News-article02 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    letter-spacing: 0.6px;
    border-radius: 50px;
    background-color: #e8e8e8;
    display: inline-block;
    width: 82px;
    height: 22px;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
}
.news-article p {
    font-size: 15px;
}
.news-article_img {
    padding-bottom: 30px;
}
.news-article_img img {
    width: 100%;
}
.news-article h5 {
    position: relative;
    padding-left: 19px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin: 82px 0 24px 0;
}
.news-article h5:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -7px;
    width: 6px;
    height: 100%;
    border-radius: 5px;
    background: #031179;
}
.news-article h6 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
    padding: 56px 0 17px 0;
}
.news-article_pc {
    padding: 50px 0 60px 0;
}
.pagination a {
    display: block;
    padding: 9px 10px;
    /* background: transparent linear-gradient(180deg, #7633a4 0%, #250d65 100%) 0%
        0% no-repeat padding-box; */
    background-color: #031179;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}

.pagination a:hover {
    background: #f1ebf8;
    color: #031179;
    transition: 1s;
}
/* .share-button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.share-button li {
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    transition: 0.3s all;
}

.share-button li:hover {
    opacity: 0.6;
}

.share-button li a {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.share-button span {
    display: block;
    font-size: 12px;
    line-height: 1;
}

.share-button li.x {
    background-color: #000;
}

.share-button li.fb {
    background-color: #1877f2;
}

.share-button li.line {
    background-color: #00b900;
}

.share-button li.pocket {
    background-color: #d3505a;
} */
.share-button {
    display: flex;
    flex-wrap: wrap;
}
.share-button li {
    padding-right: 10px;
}
.fb_share {
    padding-top: 3px;
}
/* iframe {
    width: 85px;
    height: 20px;
} */
.news_link {
    display: flex;
    justify-content: center;
    margin: 40.5px 0 10px 0;
    border-top: 1px solid #b8aed5;
    border-bottom: 1px solid #b8aed5;
    padding: 39.5px 0;
}

.news_link li {
    font-size: 14px;
    letter-spacing: 0.7px;
    padding-right: 63px;
    position: relative;
}
.news_link li:last-child {
    padding-right: 0;
}
.news_link_border a::before {
    content: "";
    border-left: 1px solid #b8aed5;
    display: inline-block;
    position: absolute;
    top: -23px;
    left: -31.5px;
    height: 70px;
}
.news_jump {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.12px;
    padding-bottom: 108px;
}
/* --service.html-- */
.service_details {
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
    padding: 70px 20px 0 20px;
    padding-bottom: 111px;
}
.service_details_img img {
    width: 100%;
}
.service_details_img {
    width: 445px;
}
.service_details_text {
    width: 615px;
    padding-left: 50px;
    text-align: left;
}
.service_details h4 {
    font-size: 24px;
    letter-spacing: 1.2px;
    padding-bottom: 20px;
}
.service_details p {
    font-size: 15px;
}
/* --works.html-- */
.works_wrap {
    margin: 0 auto;
    padding: 70px 20px 0 20px;
    max-width: 1110px;
}
.works_wrap img {
    max-width: 336px;
    width: 100%;
    box-shadow: 0px 0px 15px #00000034;
}
.works_top {
    display: flex;
    justify-content: center;
}
.works_bottom {
    display: flex;
    justify-content: left;
    padding-right: 34%;
    padding-bottom: 110px;
}
.works_top li,
.works_bottom li {
    padding-right: 30px;
}
.works_top li:last-child,
.works_bottom li:last-child {
    padding-right: 0;
}

.works_top p {
    text-align: center;
    padding: 12px 0 28px 0;
    letter-spacing: 0.8px;
}
.works_bottom p {
    text-align: center;
    padding-top: 12px;
    letter-spacing: 0.8px;
}
/* --company.html-- */
.Company_text {
    position: absolute;
    top: 136px;
    left: 0;
    right: 0;
    text-align: center;
}
.company_message {
    font-size: 32px;
    letter-spacing: 1.6px;
    padding-bottom: 20px;
}
.ceo {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.ceo_img img {
    max-width: 445px;
    width: 100%;
}
.ceo p {
    width: 55%;
    padding-left: 50px;
    font-size: 15px;
}
.company_profile {
    padding-top: 133px;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
}
.company_profile h2 {
    text-align: center;
    font-size: 32px;
    letter-spacing: 1.6px;
    padding-bottom: 27.5px;
    padding-top: 133px;
}
.company_profile dl {
    display: flex;
    font-size: 15px;
    border-bottom: 1px solid #dddddd;
    padding: 28.5px 0 28.5px 30px;
    position: relative;
}
.company_profile dt {
    font-weight: 600;
}
.company_profile dd {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 28.5px;
    left: 204px;
}
.access_map {
    padding: 60.5px 20px 0 20px;
    max-width: 1110px;
    margin: 0 auto;
}
.access_map a {
    display: block;
    padding-top: 7px;
    padding-bottom: 109px;
}
.access_map iframe {
    display: block;
    width: 100%;
    height: 394px;
}
/* --recruit.html-- */
.Recruit_bg {
    background-image: url(../img/bg-geometry.png);
    background-position: center;
    height: 100%;
    width: 100%;
}
.recruit_text {
    text-align: center;
    padding: 0 20px;
}
.recruit_text h2 {
    padding-top: 116px;
    font-size: 72px;
}
.recruit_text h3 {
    padding: 8px 0 34px 0;
    font-size: 32px;
    letter-spacing: 1.6px;
}
.recruit_text p {
    letter-spacing: 0.8px;
    padding-bottom: 38px;
}
.Recruit_img {
    clip-path: polygon(0 150px, 100% 0, 100% calc(100% - 150px), 0 100%);
    width: 100%;
}
.Recruit_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recruit_box {
    text-align: center;
}
.recruit_box h3 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding-top: 63px;
    padding-bottom: 36px;
}
.Recruit_inner {
    margin: 0 auto;
    max-width: 1110px;
    height: 790px;
    background-color: #ffffff;
    border: 1px solid #b8aed5;
    padding: 57px 6% 58px 6%;
    border-radius: 10px;
    width: 77%;
}
.occupation {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.2px;
}
.Recruit_inner dl {
    display: flex;
    font-size: 15px;
    border-bottom: 1px solid #dddddd;
    padding: 28.5px 0 28.5px 20px;
}
.Recruit_inner dt {
    font-weight: 600;
    width: 67px;
    text-align: left;
}
.Recruit_inner dd {
    font-family: "Montserrat", sans-serif;
    width: 90%;
    text-align: left;
    padding-left: 10%;
}
.Recruit_inner a {
    margin-top: 50.5px;
}
.transition {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    padding-top: 3px;
}
.movie {
    padding: 0 20px 110px 20px;
}
.movie h3 {
    font-size: 32px;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-align: center;
    padding-top: 133px;
    padding-bottom: 36px;
}
.movie iframe {
    display: block;
    max-width: 1110px;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}
.sp {
    display: none;
}
.company_explanation_sp {
    display: none;
}
.slick-next:before,
.slick-next:after,
.slick-prev:before,
.slick-prev:after {
    opacity: inherit !important;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #031179;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
}

@media screen and (max-width: 1100px) {
    h2 {
        font-size: 30px;
        letter-spacing: 1.5px;
    }
    .news_List p,
    .news_list p {
        font-size: 11px;
        letter-spacing: 0.55px;
    }
    .news_List dd {
        font-size: 14px;
        letter-spacing: 0.7px;
        width: 77%;
    }
    .news_List p {
        margin: 0 15px;
    }
    .news_List dt {
        width: 252px;
    }
}
@media screen and (max-width: 767px) {
    #pc {
        display: none;
    }
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    /* --news-- */
    .news {
        display: block;
        margin: 40.5px 20px 0 20px;
        padding: 0;
    }
    .news_List dt {
        padding-bottom: 10px;
        width: 100%;
    }
    .news_List dd {
        width: 100%;
    }
    .news_text {
        padding-right: 0;
        padding-bottom: 31px;
        text-align: center;
    }
    .news01 {
        display: block;
        padding-bottom: 35px;
    }
    .news02 {
        display: block;
        padding-bottom: 35px;
    }
    .news03 {
        display: block;
        padding-bottom: 0;
    }
    .news_jump {
        padding-bottom: 78px;
    }
    .pagination {
        padding-bottom: 80px;
    }
    /* --service-- */
    .service {
        padding-top: 75px;
        padding-bottom: 40px;
    }
    .service_text h3 {
        padding-bottom: 28px;
    }
    .service_wrap {
        display: block;
    }
    .service01 {
        padding-right: 0;
    }
    .service02 {
        padding-right: 0;
    }
    .service_wrap h4 {
        padding: 12px 0 10px 0;
    }
    .service_wrap p {
        font-size: 14px;
        letter-spacing: 0.7px;
        padding-bottom: 60px;
    }
    /* --works-- */
    .works {
        flex-direction: column;
        /* margin-top: 40px;
        padding-top: 539px; */
        width: 100%;
        /* padding: 0; */
        padding-top: 0;
        padding-bottom: 60px;
    }
    .works::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 79%;
        z-index: -1;
        right: 0;
        top: 21%;
    }
    .works_slider {
        width: 89%;
        margin-left: 0;
    }
    .works_text h3 {
        padding-bottom: 29px;
    }
    .works_text p {
        font-size: 14px;
        padding-bottom: 25px;
    }

    /* --company-- */
    .company {
        margin-top: 0;
    }
    .company_bg {
        background-image: url(../img/sp_bg-circle.png);
        height: 576px;
    }
    .company02_bg {
        background-image: url(../img/sp_bg-circle.png);
        height: 590px;
    }
    .company_bg_pc {
        display: none;
    }
    .company_text {
        top: 60px;
        padding: 0 20px;
    }
    .company_tag-line01 {
        font-size: 32px;
        letter-spacing: 1.6px;
        padding-right: 15px;
    }
    .company_tag-line02 {
        font-size: 32px;
        letter-spacing: 1.6px;
        padding-left: 15px;
    }
    /* .company_tag-line_sp {
        display: block;
        font-size: 32px;
        letter-spacing: 1.6px;
    } */
    .company_text h3 {
        padding-bottom: 22px;
    }
    .company_explanation {
        font-size: 14px;
        letter-spacing: 0.7px;
        line-height: 1.5;
        padding-top: 39px;
    }
    .company_explanation_sp {
        display: block;
        font-size: 14px;
        letter-spacing: 0.7px;
    }
    .company a {
        bottom: 78px;
    }

    /* --recruit-- */
    .recruit {
        flex-direction: column-reverse;
        padding-top: 0;
        padding-bottom: 40px;
    }
    .recruit_inner {
        width: 100%;
        height: 300px;
        padding-top: 60px;
    }
    .recruit_inner p {
        font-size: 14px;
        letter-spacing: 0.7px;
        padding: 29px 0 25px 0;
    }
    .recruit_img {
        width: 100%;
    }

    /* --news.html-- */
    .news_list {
        padding: 40px 20px 0 20px;
    }

    .news_list dl {
        display: block;
        padding-bottom: 30px;
    }
    .news_list dl:last-child {
        padding-bottom: 0;
    }
    .news_list dt {
        padding-bottom: 10px;
    }
    .news_list dd {
        font-size: 14px;
        letter-spacing: 0.7px;
        padding-left: 0;
        width: 100%;
    }
    .pagination {
        margin-top: 40px;
        text-align: center;
    }
    .pagination ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    .pagination li {
        display: inline-block;
        margin: 0 5px;
    }
    .pagination a {
        display: block;
        padding: 9px 10px;
        /* background: transparent
            linear-gradient(180deg, #7633a4 0%, #250d65 100%) 0% 0% no-repeat
            padding-box; */
        background-color: #031179;
        color: #ffffff;
        text-decoration: none;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        letter-spacing: 1px;
    }

    /* .pagination a:hover {
        background: #f1ebf8;
        color: #031179;
    } */
    /* --article01.html-- */
    .news-article_pc {
        display: none;
    }
    .news-article_heading {
        font-size: 22px;
        letter-spacing: 1.1px;
        padding-bottom: 52px;
    }
    /* --service.html-- */
    .service_details {
        display: block;
        padding: 0 20px;
    }
    #production {
        padding-top: 40px;
        padding-bottom: 69px;
    }
    #operation {
        padding-bottom: 69px;
    }
    #development {
        padding-bottom: 80px;
    }
    .service_details_img {
        width: 100%;
    }
    .service_details_text {
        width: 100%;
        padding-left: 0;
    }
    .service_details h4 {
        font-size: 18px;
        letter-spacing: 0.9px;
        padding-top: 18px;
        padding-bottom: 15px;
        text-align: center;
    }
    .service_details p {
        font-size: 14px;
        letter-spacing: 0.7px;
    }
    /* --works.html-- */
    .works_wrap {
        padding-top: 40px;
    }
    .works_wrap img {
        max-width: 100%;
    }
    .works_top,
    .works_bottom {
        flex-direction: column;
    }
    .works_top li,
    .works_bottom li {
        padding-right: 0;
    }
    .works_top p,
    .works_bottom p {
        padding: 13.4px 0 40px 0;
    }
    .works_bottom {
        padding-right: 0;
        padding-bottom: 40px;
    }
    /* --company.html-- */
    .company_message {
        font-size: 24px;
        letter-spacing: 1.2px;
    }
    .ceo {
        display: block;
        padding: 0 20px;
        z-index: 1;
        position: relative;
        top: -124px;
    }
    .ceo_img img {
        max-width: 100%;
    }
    .ceo p {
        width: 100%;
        padding: 30px 0 0 0;
        font-size: 14px;
        letter-spacing: 0.7px;
    }
    .company_profile h2 {
        font-size: 24px;
        letter-spacing: 1.2px;
        padding-bottom: 44px;
        padding-top: 0;
    }
    .company_profile dl {
        display: block;
        font-size: 16px;
        letter-spacing: 0.8px;
        border-bottom: 1px solid #dddddd;
        padding: 20.5px 0;
        position: static;
    }
    .company_profile dd {
        position: static;
    }
    .access_map {
        padding-top: 20.5px;
    }
    .access_map a {
        font-size: 14px;
        letter-spacing: 0.7px;
        padding-bottom: 49px;
    }
    .access_map iframe {
        height: 240px;
    }
    /* --recruit.html-- */
    .Recruit_bg {
        background: transparent;
    }
    .Recruit_img {
        clip-path: polygon(0 46px, 100% 0, 100% calc(100% - 46px), 0 100%);
    }
    .recruit_text h2 {
        padding-top: 40px;
        font-size: 48px;
        letter-spacing: 0.48px;
    }
    .recruit_text h3 {
        padding: 12px 0 19px 0;
        font-size: 18px;
        letter-spacing: 0.9px;
    }
    .recruit_text p {
        font-size: 15px;
    }
    .recruit_box h3 {
        font-size: 24px;
        letter-spacing: 1.2px;
        padding-top: 35px;
        padding-bottom: 27px;
    }
    .Recruit_inner {
        /* height: 479px; */
        height: auto;
        padding: 28px 6%;
        width: 90%;
    }
    .occupation {
        font-size: 16px;
        letter-spacing: 0.8px;
        color: #031179;
    }
    .Recruit_inner dl {
        flex-direction: column;
        font-size: 14px;
        letter-spacing: 0.7px;
        padding: 17.5px 20px;
    }
    .Recruit_inner dd {
        padding-left: 0;
    }
    /* .Recruit_inner dd {
        position: absolute;
        top: 28.5px;
        left: 204px;
    } */
    .Recruit_inner a {
        margin-top: 40px;
    }
    .transition {
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        letter-spacing: 0;
        padding-top: 3px;
    }
}

@media screen and (max-width: 374px) {
    .company_tag-line01 {
        font-size: 28px;
        letter-spacing: 1.4px;
    }
    .company_tag-line02 {
        font-size: 28px;
        letter-spacing: 1.4px;
    }
    .recruit_text h2 {
        font-size: 40px;
    }
    .recruit_text h3 {
        font-size: 15px;
    }
    .recruit_text p {
        font-size: 12px;
    }
}
